body
 font-family: 'Open Sans', sans-serif;
 background-image: url("/css/lightpaperfibers.png");

.container
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

@media (min-width: 768px)
  .container
    width: 750px;

@media (min-width: 992px)
  .container
    width: 970px;

@media (min-width: 1200px)
  .container
    width: 1170px;

.header
  position: absolute
  font-size: 100px;
  padding: 0px;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  left: 5%;
  width: 100%;

.headerOne
  position: absolute
  top: -0.8em;

.headerTwo
  position: absolute;
  top: -0.1em;

.addButton
  position: absolute;
  font-size: 75px;
  left: 85%;
  top: 1.6em;

.editButton
  position: relative;
  font-size: 50px;
  color: #388e3c;
  border-radius: 100%;
  border: 6px solid;
  margin-bottom: 0.75em;
  left: 73%


.deleteButton
  position: relative;
  font-size: 50px;
  color: #c62828;
  border-radius: 100%;
  border: 6px solid;
  margin-bottom: 0.75em;
  left: 78%

.saveButton
  position: relative;
  font-size: 50px;
  color: #388e3c;
  border-radius: 100%;
  border: 6px solid;
  margin-bottom: 0.75em;
  left: 73%

.recipe
   border-style: solid;
   border-width: 1px;
   margin: 1em 0em;
   border-color: #F5F5F5;
   background-color: #F5F5F5;
   box-shadow: 0px 03px 10px #888888;

.recipeExpand
   height: auto;
   background-color: #FFFFFF;

.expandedRecipeHeader
  background-color: #F5F5F5;
  position: relative;
  top: -2.5em;
  height: 103px;

.expandedRecipeHeaderEdit
  position: relative;
  height: 103px;
  padding-bottom: 2.5em;

.recipeName
  font-size: 30px;
  margin-left: 5%;
  width: 100%;

.recipeNameExpanded
  padding-top: 1em;

.recipeNameEdit
  width: 88%;
  margin-top: 1em;

.recipeList
  position: absolute;
  top: 20em;
  width: 100%;

.ingredientHeading
  font-size: 25px;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  margin: 1em 0em 0em 10%;

.ingredientList
  position: relative;
  font-size: 18px;
  list-style: circle;
  margin-left: 9%;
